@import './mixins';
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.App {
  text-align: center;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  min-height: 100px;
  padding: 50px;
  &__img {
    width: 500px;
    height: 100px;
    background-image: url('../images/Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include tablet {
      width: 500px;
      height: 200px;
    }
  }
}

.main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .form {
    color: aquamarine;
    margin-bottom: 50px;
    label {
      font-weight: bold;
      letter-spacing: 1.5px;
    }
    input {
      margin-left: 10px;
      padding: 5px 5px 5px 10px;
      border: 2px solid darkcyan;
      border-radius: 5px;
      background-color: aquamarine;
      color: darkcyan;
      font-weight: bolder;
    }
    input::placeholder {
      color: darkcyan;
      font-weight: lighter;
    }
    input:focus,
    textarea:focus {
      border-color: khaki;
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px khaki;
      outline: 0 none;
    }
  }
  .notFound {
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 20px;
    color: aquamarine;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 10px;
  }
  .character__list {
    padding-top: 20px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    color: white;
    @include tablet {
      grid-template-columns: repeat(3, 250px);

      padding: 5px 10px 0;
    }
    @include desktop {
      grid-template-columns: repeat(4, 250px);
      padding: 5px 10px 0;
    }

    &__card {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: darkcyan;
      color: aquamarine;
      min-height: 300px;

      &__name {
        margin-bottom: 10px;
      }
      &:hover {
        background-color: aquamarine;
        color: darkcyan;
        .Human {
          background-color: darkcyan;
          color: aquamarine;
        }
        .Alien {
          background-color: brown;
          color: aquamarine;
        }
      }

      &__box {
        &__img {
          width: 200px;
          border-radius: 10px;
        }
      }
    }
  }

  .character__detail {
    min-height: 80vh;
    margin: auto;
    width: 100%;
    .leyend {
      background-color: darkcyan;
      color: aquamarine;
      width: 650px;
      margin: auto;
      padding: 30px;
      margin-top: 20px;
      border-radius: 15px;
      &__list {
        display: flex;
      }
    }
    .leyend-logo {
      width: 40px;
      height: 40px;
    }
    .content {
      background-color: darkcyan;
      color: aquamarine;
      border-radius: 20px;
      width: 300px;
      margin: auto;
      padding: 30px;
      text-align: left;
      min-height: 300px;
      &__title {
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
          color: aquamarine;
          &__icon {
            cursor: pointer;
            padding: 5px;
          }
          &:hover {
            color: khaki;
            transform: scale(1.5);
          }
        }
      }
      &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__image {
          border-radius: 10px;
          margin-bottom: 20px;
        }
      }
      .detail-logo {
        width: 40px;
        height: 40px;
      }
      &__description1 {
        width: 100%;
        margin-bottom: 20px;
        li {
          display: flex;
          flex-direction: row;
          h4 {
            margin-right: 20px;
          }
        }
      }
      &__description2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        li {
          margin-right: 20px;
        }
      }
    }
    @include tablet {
      .content {
        width: 650px;
        margin: auto;
        padding: 30px;
        text-align: left;
        &__title {
          padding-bottom: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          a {
            color: aquamarine;
            &__icon {
              cursor: pointer;
              padding: 5px;
            }
            &:hover {
              color: khaki;
              transform: scale(1.5);
            }
          }
        }
        &__box {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          &__image {
            margin-right: 20px;
            border-radius: 10px;
          }
        }
        &__description1 {
          width: 100%;
          margin-bottom: 20px;
          li {
            display: flex;
            flex-direction: row;
            h4 {
              margin-right: 20px;
            }
          }
        }
        &__description2 {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          li {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

/* -----------------Species-------------- */
.Human {
  background-color: aquamarine;
  color: darkcyan;
  border-radius: 5px;
  padding: 3px;
}
.Alien {
  background-color: khaki;
  color: darkcyan;
  border-radius: 5px;
  padding: 3px;
}

.hidden {
  display: none;
}
