* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  min-height: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form {
    color: aquamarine;
    label {
      font-weight: bold;
      letter-spacing: 1.5px;
    }
    input {
      margin-left: 10px;
      padding: 5px 5px 5px 10px;

      border-radius: 5px;

      background-color: aquamarine;
      color: darkcyan;
      font-weight: bolder;
    }
    input::placeholder {
      color: darkcyan;
      font-weight: lighter;
    }
    input:focus,
    textarea:focus {
      border-color: khaki;
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px khaki;
      outline: 0 none;
    }
  }
  .character__list {
    padding-top: 20px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    color: white;
    &__card {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: darkcyan;
      color: aquamarine;
      min-height: 300px;
      &__name {
        margin-bottom: 10px;
      }
      &:hover {
        background-color: aquamarine;
        color: darkcyan;
        .Human {
          background-color: darkcyan;
          color: aquamarine;
        }
        .Alien {
          background-color: brown;
          color: aquamarine;
        }
      }

      &__box {
        &__img {
          width: 200px;
          border-radius: 10px;
        }
      }
    }
  }

  .character__detail {
    height: 100vh;
    .content {
      background-color: darkcyan;
      color: aquamarine;
      border-radius: 20px;
      width: 600px;
      margin: auto;
      padding: 30px;
      text-align: left;
      &__title {
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
          color: aquamarine;
          &__icon {
            cursor: pointer;
            padding: 5px;
          }
          &:hover {
            color: khaki;
            transform: scale(1.5);
          }
        }
      }
      &__box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &__image {
          margin-right: 20px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .character__list {
    grid-template-columns: repeat(3, 250px);
    grid-gap: 0;
    padding: 5px 10px 0;
  }
}
@media all and (min-width: 1024px) {
  .character__list {
    grid-template-columns: repeat(4, 250px);
    grid-gap: 0;
    padding: 5px 10px 0;
  }
}

/* -----------------Species-------------- */
.Human {
  background-color: aquamarine;
  color: darkcyan;
  border-radius: 5px;
  padding: 3px;
}
.Alien {
  background-color: khaki;
  color: darkcyan;
  border-radius: 5px;
  padding: 3px;
}
